# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 5475e616b8585c82caa04bb3191833cefead262c77a9ec3b7625b9edb8a55fb3ffd791cb512fd8d78f6e3f6555a0343e04584d649d267fef191b0c4f1df46f7e

test:
  secret_key_base: ffa00f23d6725d1891a7af3602e9244bbe7f2871120ca6566e62918105ccaa11778aaecc708fcd4cd7b6ca43dacb96868f9bc3bc3d65f3866b860bbfa34e30d4

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
