.product-detail-online h2 {
    color: #9F9F9F;
    font-style: italic;
    font-size: 24px;
}
.product-detail-online .price {
    color: #179647;
    font-size: 32px;
    font-weight: bold;
}
.product-detail-online button {
    background: #9ACD01;
    border: none;
    padding: 10px 50px;
}
.product-detail-online .info.info-red {
    background: red; 
    color: #fff;
    opacity: 0.45;
    padding: 10px;
    position: relative;
    text-align: center;
    z-index: 1;
}